html, body, .splash, .icon {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.splash {
  display: table;
  div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    img {
      margin-top: -30vh;
      padding-right: 3vw;
      max-width: 90vw;
      max-height: 25vh;
    }
  }
}

.icon {
  display: table;
  div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    img {
      height: 102vh;
      width: 102vh;
    }
  }
}